<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mvcdesarrollo1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mvcdesarrollo1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mvcdesarrollo1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mvcdesarrollo1</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PersonContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:klb55m9w75.database.windows.net,1433;Initial Catalog=mvcdesaAxss9TMB2;User ID=PersonUser@klb55m9w75;Password=rc123456." Name="Data Source=tcp:klb55m9w75.database.windows.net,1433;Initial Catalog=mvcdesaAxss9TMB2;User Id=PersonUser@klb55m9w75;Password=rc123456." />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MvcApplication36.Models.PersonContext, MvcApplication36" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:klb55m9w75.database.windows.net,1433;Initial Catalog=mvcdesaAxss9TMB2;User ID=PersonUser@klb55m9w75;Password=rc123456." Name="Data Source=tcp:klb55m9w75.database.windows.net,1433;Initial Catalog=mvcdesaAxss9TMB2;User Id=PersonUser@klb55m9w75;Password=rc123456." />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-MvcApplication36-20151203095148.mdf;Initial Catalog=aspnet-MvcApplication36-20151203095148;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-MvcApplication36-20151203095148;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-MvcApplication36-20151203095148.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:klb55m9w75.database.windows.net,1433;Initial Catalog=mvcdesaAxss9TMB2;User Id=PersonUser@klb55m9w75;Password=rc123456.</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PersonContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:klb55m9w75.database.windows.net,1433;Initial Catalog=mvcdesaAxss9TMB2;User Id=PersonUser@klb55m9w75;Password=rc123456.</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>